[data-theme="light"] {
  --background: #fdfdfc;
  --foreground: #21201c;
  --secondary: #030712a7;
  --card: #f5f4f4;
}

[data-theme="dark"] {
  --background: #21201c;
  --foreground: #fdfdfc;
  --secondary: #f5f4f4c0;
  --card: #e5e7eb0e;
}

html,
body {
  max-width: 900px;
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-geist-sans), sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.prose ul li,
.prose ol li {
  list-style: inherit;
  display: list-item;
  flex-direction: initial;
}
